@import url(https://fonts.googleapis.com/css?family=Lato|Raleway|Oswald);
@import "variables.scss";
@import "../../Content/bootstrap/bootstrap.scss";



body {
    font-family: Lato;
    background-color: $dark;
    color: $white;
}

.card-header {
    font-family: Oswald;
    font-size: 2em;
}

.card {
    background-color: $blue;
    color: $dark;
    opacity: .75;
    margin: 10px 10px;
    transition: all ease .5s;
}

.card-body {
    color: $white;
    font-weight: 200;
    font-family: Raleway;
}

.name {
    margin-bottom: 30px;
}

.personal-info {
    margin-top: 20%;
}

h1.welcome {
    margin-top: 30%;
}