@import url(https://fonts.googleapis.com/css?family=Lato|Raleway|Oswald);
@import "variables.scss";
@import "../../Content/bootstrap/bootstrap.scss";



body.dark {
    background-color: $dark;
    color: $white;

    .card {
        background-color: $blue;
        color: $dark;
        opacity: .75;
    }

    .card-body {
        color: $white;
    }

    #theme {
        background-color: $blue;
        color: $white;
        transition: all .7s ease;
    }

    #theme:hover {
        opacity: .7;
        color: lightgray;
    }

    nav.navbar {
        background-color: #333333 !important;
    }

    a.contact {
        font-size: calc(.2em + 2vw);
        text-decoration: none;
        color: #cecece9c;
        font-weight: 100;
        margin-top: 20px;
    }

    .contact i {
        font-size: 2em;
        transition: all .5s ease;
        text-align: center;
    }

    .contact i:hover {
        opacity: .7;
        color: #A6E22E;
        transform: scale(1.07);
        text-align: center;
    }
}

body.light {
    #theme {
        background-color: #cecece;
        color: $dark;
        transition: all .7s ease;
    }

    #theme:hover {
        background-color: darkgrey;
    }

    a.contact {
        font-size: calc(.2em + 2vw);
        text-decoration: none;
        color: #cecece9c;
        font-weight: 100;
        margin-top: 20px;
    }

    .contact i {
        font-size: 2em;
        transition: all .5s ease;
        text-align: center;
        filter: invert(100%);
    }

    .contact i:hover {
        opacity: .7;
        color: #A6E22E;
        transform: scale(1.07);
        text-align: center;
        filter: invert(100%);
    }
}

body {
    font-family: Lato;
    transition: all ease 1s;

    #theme:hover {
        transform: scale(1.05);
    }

    .nav-link {
        transition: all ease .5s;
    }

    .nav-link:hover {
        font-size: 1.05em;
    }

    .card-header {
        font-family: Oswald;
        font-size: 2em;
    }

    .card {
        opacity: .75;
        margin: 10px 10px;
        transition: all ease .5s;
    }

    .card-body {
        font-weight: 200;
        font-family: Raleway;
    }

    .name {
        margin-bottom: 30px;
    }

    .personal-info {
        margin-top: 8%;
    }

    h1.welcome {
        margin-top: 30%;
    }
}

.contact-me-icons {
    margin-top: 20px;
}

.cat {
    width: 100%;
}